*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // Defines 1rem
}

body {
  box-sizing: border-box;
  background: $color-primary-dark;
}

main {
  padding: 0 3rem;
  @media (max-width: 768px) {
    padding: 0 1rem;
  }
}

img {
  width: 100%;
  height: auto;
}

.video {
  max-width: 100%;
  display: none;
}
