.u-center-text { text-align: center; }
.u-right-text { text-align: right; }

.u-margin-bottom-big { margin-bottom: 8rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }
.u-margin-bottom-small { margin-bottom: 1.5rem; }

.u-margin-top-huge { margin-top: 10rem; }
.u-margin-top-big { margin-top: 8rem; }
.u-margin-top-medium { margin-top: 4rem; }

.u-spacing-big { padding-top: 8rem; padding-bottom: 8rem; }
.u-spacing-medium { padding-top: 4rem; padding-bottom: 4rem; }

.u-object-fit-contain {
  object-fit: contain;
}

.md-order-1 {
  @include at-max-query(768) {
    order: 1;
  }
}

.md-order-2 {
  @include at-max-query(768) {
    order: 2;
  }
}
